.table > tbody > tr > td {
    vertical-align: middle;
    /* border-bottom: 2px black solid; */
}

.table > thead > td {
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}
.table > tfoot > tr> td {
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}

.edit-button{
    position:relative !important;
    font-size: 15px;
    text-align: end;
     cursor: pointer;
     color: #606060;
}

/* .save-button {
    position:relative;
    font-size: 15px;
    margin-top:-40px;
    text-align: end;
     cursor: pointer;
     color: #606060;
     margin-left:180px;
} */

.cancel-button, .save-button{
    position: relative;
    /* float: right; */
    cursor: pointer;
    /* display: flex; */
   

}

.save-button{
     /* right: 50px; */
     left: 170px;
     /* margin-left: 300px; */

    }

.cancel-button{
    float: right;
    
}

.save-button{
    margin-right: 50px;
}

.edit-button:hover, .save-button:hover{
    color: black;
}

.overlay-pict-cart {
    position: relative;
    /* float: left; */
    cursor: pointer;
  }
  
  .overlay-pict-cart:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:black;
    opacity: 0.7;
  
  }