.table > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th {
    border-bottom: 2px black solid !important;
    border-top: 2px black solid !important;
}
.table > tfoot > tr> td {
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}

.edit-button{
    position:relative !important;
    font-size: 15px;
    text-align: end;
     cursor: pointer;
     color: #606060;
}

.cancel-button, .save-button{
    position: relative;
    cursor: pointer;

   

}

.save-button{
     left: 140px;

    }

.cancel-button{
    float: right;
    
}

.save-button{
    margin-right: 50px;
}

.edit-button:hover, .save-button:hover{
    color: black;
}

.overlay-pict-cart {
    position: relative;
    cursor: pointer;
  }
  
  .overlay-pict-cart:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:black;
    opacity: 0.7;
  
  }
  .product-picture-cart{
      width: 150px;
      height: 150px;
      object-fit:scale-down;

  }