@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-size: 35px !important;
    opacity: 1;
}
.navbar{

    background-color: white !important;
    position: fixed !important;
    opacity: 0.9;
    width:100%;
    margin-top: -70px;
    /* z-index: ; */
    transform: translateZ(0);
    /* margin-bottom: 30px; */
    
}

.nav-item .nav-link {
    opacity: 1;
}

.search-bar{
   width: 90%;
    border: none;
    border-bottom: 1px #606060 solid;

}