.product-image-detail{
    width:350px;
    height:350px;
    padding: 15px;
     object-fit:scale-down;
     
     cursor: pointer;
    
}
/* .zoomed-image {
    background-size: cover;
    cursor: pointer;
 } */

 .tombol-disabled{
    background-color: rgb(209, 196, 196); /* Green */
    border: 1px black solid;
    color: black;
    padding: 7px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

 }