.slick-list {margin: 0 -20px;}
.slick-slide>div {padding: 0 20px;}
.slides {
    position: relative;
   
  }
  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  .card{
      border: none !important;
  }
  .gambar-produk{

    width:120px;
    height:270px;
    padding: 15px;
    /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     object-fit:scale-down;
     
     cursor: pointer;
    /* height: 200px; */
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .card:hover .overlay {
    opacity: 0.7;
  }
  
  
  .text-overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }